RAG_ENVIRONMENT=development
RAG_TENANT_ID=portfolio
RAG_POSTGRES_HOST=127.0.0.1
RAG_POSTGRES_PORT=5545
RAG_POSTGRES_DATABASE=rag_portfolio
RAG_POSTGRES_USER=rag_portfolio
RAG_POSTGRES_PASSWORD=
RAG_QDRANT_URL=http://127.0.0.1:6534
RAG_QDRANT_API_KEY=
RAG_SERVICE_TOKEN=
RAG_ADMIN_TOKEN=
RAG_READ_SCOPE_KEYS=["shared"]
RAG_WORKER_POLL_SECONDS=2
RAG_WORKER_LEASE_SECONDS=60
RAG_WORKER_MAX_ATTEMPTS=3
